---
import { getEntry } from 'astro:content'
import ToolLayout from './../../layouts/ToolLayout.astro'
import PasswordStrengthMeter from '../../components/react/PasswordStrengthMeter'

const entry = await getEntry('tools', 'password-strength-meter')

if (!entry) {
  throw new Error('Could not find entry')
}

const { data } = entry;
const { title, description, date } = data
---

<ToolLayout title={title} description={description} date={date}>
  <h2 class="text-3xl font-bold">🧪 Try the Password Strength Meter</h2>

  <div class="mt-4">
    <PasswordStrengthMeter client:load />
  </div>

  <p>Check your password’s strength in real time. This tool checks for:</p>

  <ul>
    <li>Minimum length (8+)</li>
    <li>Uppercase letters</li>
    <li>Numbers</li>
    <li>Special characters</li>
  </ul>
</ToolLayout>
