APP_NAME="Dav/Devs Tools"
APP_AUTHOR="Davina Leong"
APP_DESCRIPTION="Explore Dav/Devs Tools, a microsite housing an array of essential developer tools. From efficient duplicate paragraph scanning to advanced content generation, optimize your coding experience. Enhance productivity and streamline your projects with our versatile toolkit. Elevate your coding efficiency with our innovative solutions."
APP_KEYWORDS="DavDevs Tools, Microsite, Development Tools, Duplicate Paragraph Scanner, Content Generator, Coding, Code Optimization, Programming, Developer Toolkit, Software Development, Code Efficiency, Tech Tools, Productivity, Coding Utilities, Project Enhancement, Technology"
APP_DAVDEVS="https://davina-devs.com"
APP_YEAR=2022
APP_DATE_FORMAT="D MMM YYYY"
OPENAI_API_KEY=