/// Primary Header

.primary-header {
  color: theme("colors.neutral.50");
  background-color: theme("colors.blue.500");
  background-image: linear-gradient(
    to bottom,
    theme("colors.blue.500"),
    theme("colors.blue.700")
  );

  a {
    --_a-clr: theme("colors.neutral.100");
    --_a-td: none;

    --_a-hover-clr: theme("colors.neutral.100");
    --_a-hover-td: underline;
  }
}
