@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  src: url("./../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  --ff-primary: Montserrat, Arial, sans-serif;

  --spacer-md: theme("spacing.4");

  --wrapper-width: theme("screens.lg");

  --header-height: 60px;
  --footer-height: 56px;
}

body {
  font-family: var(--ff-primary);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.ff-montserrat {
  font-family: Montserrat, Arial, sans-serif;
}

.wrapper {
  max-width: var(--wrapper-width);
}

.flow > * + * {
  margin-block-start: var(--spacer-md);
}

.bg-h,
.bg-f {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-h {
  background-image: url("./../assets/images/bg-h-m.svg");
  background-position: center bottom;
}

.bg-f {
  background-image: url("./../assets/images/bg-f-m.svg");
  background-position: center top;
}

@media screen and (min-width: theme("screens.md")) {
  .bg-h {
    background-image: url("./../assets/images/bg-h-d.svg");
  }

  .bg-f {
    background-image: url("./../assets/images/bg-f-d.svg");
  }
}
