---
import {
  getSecret,
 } from 'astro:env/server'
import { getCollection } from 'astro:content';

import Layout from './../layouts/Layout.astro'
import Card from './../components/Card.astro'

const APP_NAME = getSecret("APP_NAME")

const publishedTools = await getCollection('tools', ({ data }) => {
  return data.draft === false;
});
---

<Layout>
	<main class="relative overflow-hidden bg-slate-100 bg-f">
		<section class="bg-blue-500 bg-h p-4">
			<div class="wrapper mx-auto text-center text-black flow">
				<h1 class="text-5xl text-bold">{APP_NAME}</h1>

				<p>
					{APP_NAME} is a collection of simple, useful web tools built to make everyday tasks easier — from generating QR codes to checking password strength and exploring color palettes. Designed and developed by Davina Leong, this microsite offers a fast, clean, and intuitive experience powered by modern web technologies.
				</p>
			</div>
		</section>

		<section>
			<div class="wrapper grid grid-cols-2 gap-4 flow mx-auto p-4">
				{publishedTools.map(tool => <Card tool={tool} />)}
			</div>
		</section>
	</main>
</Layout>
