---
const { APP_NAME, APP_DAVDEVS } = import.meta.env
---
<header class="primary-header">
    <div class="wrapper mx-auto p-4">
        <div class="flex items-center justify-between p-4">
            <h1 class="text-4xl font-bold">{APP_NAME}</h1>

            <a href={APP_DAVDEVS}>Back to Dav/Devs</a>
        </div>
    </div>
</header>