---
import Layout from './Layout.astro';

const { title, description, date } = Astro.props
---

<Layout>
  <main class="relative overflow-hidden bg-slate-100 bg-f">
    <section class="bg-blue-500 bg-h p-4">
			<div class="wrapper mx-auto text-center text-black flow">
				<h1 class="text-5xl text-bold">{title}</h1>

				{ description && <p>{description}</p> }

        { date && <p class="text-sm italic">{date}</p>}
			</div>
		</section>

    <section>
			<article class="prose max-w-none p-4 flow">
        <slot />
      </article>
		</section>
  </main>
</Layout>
